OPEN_ROUTER_KEY = 
GEMINI_API_KEY = 
SEARCHXNG_HOST = 
INTROLIX_API_KEY = 
JWT_SECRET_KEY = 

# Number of layers to offload to GPU. Set to 0 to run on CPU if GPU crashes occur.
LLAMA_CPP_N_GPU_LAYERS = 99